<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered  table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Director</th>
          <th>Release Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies; let i=index">
          <td>{{movie.title}}</td>
          <td>{{movie.director}}</td>
          <td>{{movie.release_date}}</td>
          <td>
             <a href="#" (click)="showDetail(movie.url)" data-toggle="modal" data-target="#movieModal" >details</a>
          </td>
         </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- movie-detail model dialog -->
<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movieModalLabel">Movie Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div class="container" *ngIf="movie">
            <div class="row">
              <div class="col-3 font-weight-bold">Title:</div>
              <div class="col-9">{{movie.title}}</div>
            </div>
            <div class="row">
              <div class="col-3 font-weight-bold">
                Director:
              </div>
              <div class="col-9">{{movie.director}}</div>
            </div>
            <div class="row">
              <div class="col-3 font-weight-bold">
                Release Date:
              </div>
              <div class="col-9">{{movie.release_date}}</div>
            </div>
            <div class="row">
              <div class="col-3 font-weight-bold">
                Characters:
              </div>
              <div class="col-9">{{people}}</div>
            </div>
            <div class="row">
              <div class="col-3 font-weight-bold">
                Planets:
              </div>
              <div class="col-9">{{planets}}</div>
            </div>
          </div>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="disposeObjects()">Close</button>
        </div>
      </div>
    </div>
  </div>